
#div1 p {
	color: green;
}
   
   /*101*/ 
div #x1 {
	color: red;
}
    /*10*/
.x2 {
	color: teal;
}
    /*101*/
p #x2 {
	color: purple;
}
    /*12*/
p span.x2 {
	color: beige;
}
    
    /*2*/
div > span {
	color: blue;
}